**/.DS_Store
**/__pycache__/

results
results_testing
work/
*.err
*.out

.nextflow/
.nextflow.log/
.nextflow.log*

venv

pipeline_trace.tsv

.vscode/
.claude/
**/CLAUDE.md
live-sync.sh

report.html

all_sites.duckdb
.Rproj.user

visualisation/