/*
 * Configuration file for differential-RNA-modification-nanopore pipeline
 */


// Load configs from nf-core, so that institutional profiles can be used
// https://nf-co.re/configs/
includeConfig !System.getenv('NXF_OFFLINE') ? 'https://raw.githubusercontent.com/nf-core/configs/master/nfcore_custom.config' : "/dev/null"

// Load the nf-schema plugin for schema validation
plugins {
    id 'nf-schema@2.4.1'
}

// enable schema --help generation
validation {
    help {
        enabled = true
    }
}

params {
    testing = false

    dataset_name = null
    samplesheet = null
    outdir = null
    publish_dir_mode = "copy"

    transcriptome = null

    mod_caller = 'dorado'
    differential_model = 'homo_norm'
    min_reads = 20
    prob_threshold = 0

}

trace {
    enabled = true
    overwrite = true
    file = "pipeline_trace.tsv"
}

// Process label configurations
process {

    withLabel: local {
        cpus = 1
        memory = '4.GB'
        time = '2.h'
    }

    withLabel: single_cpu {
        cpus = 1
        memory = '8.GB'
        time = '4.h'
    }

    withLabel: low_cpu {
        cpus = 4
        memory = '32.GB'
        time = '4.h'
    }

    withLabel: intermediate_cpu {
        cpus = 8
        memory = '32.GB'
        time = '4.h'
    }

    withLabel: medium_cpu {
        cpus = 16
        memory = '64.GB'
        time = '4.h'
    }

    withLabel: high_cpu {
        cpus = 32
        memory = '64.GB'
        time = '8.h'
    }

    withLabel: single_cpu_long {
        cpus = 1
        memory = '32.GB'
        time = '8.h'
    }

    withLabel: gpu {
        cpus = 6
        memory = '128.GB'
        time = '8.h'
    }
}

profiles {
    docker {
        docker.enabled = true
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false

        process.container = "oras://ghcr.io/olliecheng/mako_main_docker:2653daa"
    }

    singularity {
        singularity {
            enabled = true
            autoMounts = true
            runOptions = "--bind ${PWD} --bind ${projectDir}"
        }
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false

        process.container = "oras://ghcr.io/olliecheng/mako_main_singularity:2653daa"
    }

    // A configuration profile for the Spartan HPC cluster at the University of Melbourne
    // This profile uses Singularity/Apptainer for execution, and uses SLURM as the job scheduler.
    spartan {
        singularity {
            enabled = true
            autoMounts = true
            runOptions = "--bind ${PWD} --bind ${projectDir}"
        }

        process {
            beforeScript = """
            module load Apptainer/1.3.3
            """.stripIndent()

            executor = "slurm"

            // https://dashboard.hpc.unimelb.edu.au/privatespecs/#fos-gpu-l40s
            // it seems that you /must/ ensure these options are set,
            // otherwise the defaults will be used
            // - the '--nv' command enables GPU support within Apptainer containers
            withLabel: gpu {
                queue = 'fos-gpu-l40s'
                clusterOptions = '--gres=gpu:1 --qos=fos'
                cpus = 6
                memory = '128.GB'
                time = '24.h'
                containerOptions = '--nv'
            }

            // Use dedicated FoS partition for high CPU jobs, which may take a long time to
            // start up on cascade/sapphire
            withLabel: high_cpu {
                queue = 'fos'
                clusterOptions = '--qos=fos'
                cpus = 32
                memory = '64.GB'
                time = '8.h'
            }
        }
    }

    testing {
        stubRun = true
        params {
            testing = true
            samplesheet = "samples.example.csv"
            outdir = "results_testing"
            transcriptome = "main.nf"
        }

        process {
            withLabel: local {
                cpus = 1
                memory = '1.GB'
                time = '10.m'
            }

            withLabel: low_cpu {
                cpus = 1
                memory = '1.GB'
                time = '10.m'
            }

            withLabel: intermediate_cpu {
                cpus = 1
                memory = '1.GB'
                time = '10.m'
            }

                withLabel: medium_cpu {
                cpus = 1
                memory = '1.GB'
                time = '10.m'
            }

            withLabel: high_cpu {
                cpus = 1
                memory = '1.GB'
                time = '10.m'
            }

            withLabel: single_cpu_long {
                cpus = 1
                memory = '1.GB'
                time = '5.h'
            }

            withLabel: gpu {
                cpus = 1
                memory = '1.GB'
                time = '10.m'
            }
        }
    }
}
