/*
 * Configuration file for differential-RNA-modification-nanopore pipeline
 */


// Load configs from nf-core, so that institutional profiles can be used
// https://nf-co.re/configs/
includeConfig !System.getenv('NXF_OFFLINE') ? 'https://raw.githubusercontent.com/nf-core/configs/master/nfcore_custom.config' : "/dev/null"

// Load the nf-schema plugin for schema validation
plugins {
    id 'nf-schema@2.4.1'
}

// enable schema --help generation
validation {
    help {
        enabled = true
    }
}

params {
    testing = false

    dataset_name = null
    samplesheet = null
    outdir = null
    publish_dir_mode = "copy"

    genome = null
    transcriptome = null
    gtf = null

    input_format = null // required: 'modbam' or 'table'
    method = 'adaptive_binomial'
    min_reads_per_sample = 5

    mod_threshold = 0.5
    mod_filter = ''
}


trace {
    enabled = true
    overwrite = true
    file = "pipeline_trace.tsv"
}

// Process label configurations
process {
    withLabel: local {
        executor = 'local'
        cpus = 1
        memory = '4.GB'
        time = '2.h'
    }

    withLabel: single_cpu {
        cpus = 1
        memory = '32.GB'
        time = '4.h'
    }

    withLabel: low_cpu {
        cpus = 4
        memory = '32.GB'
        time = '4.h'
    }

    withLabel: intermediate_cpu {
        cpus = 8
        memory = '32.GB'
        time = '4.h'
    }

    withLabel: medium_cpu {
        cpus = 16
        memory = '64.GB'
        time = '4.h'
    }


    withLabel: single_cpu_long {
        cpus = 1
        memory = '32.GB'
        time = '8.h'
    }

    withLabel: gpu {
        cpus = 6
        memory = '128.GB'
        time = '8.h'
    }
}


profiles {
    docker {
        docker.enabled = true
        singularity.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false

        process.container = "ghcr.io/olliecheng/mako_main_docker:fa5552b"
    }

    singularity {
        singularity {
            enabled = true
            autoMounts = true
            runOptions = "--bind ${PWD} --bind ${projectDir}"
        }
        docker.enabled = false
        podman.enabled = false
        shifter.enabled = false
        charliecloud.enabled = false

        process.container = "oras://ghcr.io/olliecheng/mako_main_singularity:fa5552b"
    }

    // A configuration profile for the Spartan HPC cluster at the University of Melbourne
    // This profile uses Singularity/Apptainer for execution, and uses SLURM as the job scheduler.
    spartan {
        singularity {
            enabled = true
            autoMounts = true
            runOptions = "--bind ${PWD} --bind ${projectDir}"
        }        

        process {
            beforeScript = """
            module load Apptainer/1.3.3
            """.stripIndent()

            container = "oras://ghcr.io/olliecheng/mako_main_singularity:fa5552b" 

            executor = "slurm"

            // https://dashboard.hpc.unimelb.edu.au/privatespecs/#fos-gpu-l40s
            // it seems that you /must/ ensure these options are set,
            // otherwise the defaults will be used
            // - the '--nv' command enables GPU support within Apptainer containers
            withLabel: gpu {
                queue = 'fos-gpu-l40s'
                clusterOptions = '--gres=gpu:1 --qos=fos'
                cpus = 6
                memory = '128.GB'
                time = '24.h'
                containerOptions = '--nv'
            }
        }
    }

    testing {
        stubRun = true
        params {
            testing = true
            dataset_name = "testing_dataset"
            samplesheet = "samples.example.csv"
            outdir = "results_testing"
            genome = "README.md"
            transcriptome = "README.md"
            gtf = "main.nf"
        }

        process {
            withLabel: local {
                cpus = 1
                memory = '1.GB'
                time = '10.m'
            }

            withLabel: single_cpu {
                cpus = 1
                memory = '1.GB'
                time = '10.m'
            }

            withLabel: low_cpu {
                cpus = 1
                memory = '1.GB'
                time = '10.m'
            }

            withLabel: intermediate_cpu {
                cpus = 1
                memory = '1.GB'
                time = '10.m'
            }

            withLabel: medium_cpu {
                cpus = 1
                memory = '1.GB'
                time = '10.m'
            }


            withLabel: single_cpu_long {
                cpus = 1
                memory = '1.GB'
                time = '5.h'
            }

            withLabel: gpu {
                cpus = 1
                memory = '1.GB'
                time = '10.m'
            }
        }
    }
}
