@import "./color_schemes/light";

$link-color: #1d66db;
// $sidebar-color: $blue-000;
// $sidebar-color: linear-gradient(to bottom, #ffffff 0%, #4db8e8 25%, #2678b8 50%, #1a4d7f 75%, #0d2540 100%);
$sidebar-color: #d9e7ff;